

*{
    margin: 0;
    box-sizing: border-box;
}

.animate {
    opacity: 0;                 /* start invisible */
    transform: translateY(30px); /* start slightly lower */
    transition: all 1s ease;    /* smooth transition */
}

.animate.visible {
    opacity: 1;
    transform: translateY(0);   /* slide into place */
}

.headdings{
    width: 100%;
    color: white;
    text-align: center;
    height: 90px;
    background-color: rgba(85, 85, 85, 0.37);
    padding-top: 10px;
    

}



/* Small screens (mobile) */
@media (max-width: 992px) {
    .content p {
        margin-left: 15px;
        margin-right: 15px;
    }
}

